<!DOCTYPE html>
<html lang="en">

<%- include('head') %>
<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <%- include('sidebar') %>
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <%- include('topbar') %>
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800">DANH SÁCH SẢN PHẨM</h1>
                    <table class="table table-striped">
                        <thead>
                          <tr  style="text-align: center;">
                            <th scope="col">#</th>
                            <th scope="col">Họ tên</th>
                            <th scope="col">Email</th>
                            <th scope="col">Điện thoại</th>
                            <th scope="col">Người quản lý</th>
                            <th scope="col">Người giới thiệu</th>
                            <th scope="col">Ngày vào làm</th>
                            <th scope="col">Quản lý</th>
                            <th scope="col">Hành động</th>
                          </tr>
                        </thead>
                        <% let total = 0; %>
                        <% users.forEach((item, index) => { %>
                            <tr  style="text-align: center;">
                              <th scope="row"><%= index + 1 %></th>
                              <td><%= item.user_name %></td>
                              <td><%= item.user_email %></td>
                              <td><%= item.user_phone %></td>
                              <td><%= item.manager_name %></td>
                              <td><%= item.introducer_name %></td>
                              <td><%= new Date(item.hire_date).toLocaleDateString('vi-VN') %></td>
                              <td>
                                <% if (item.is_manager) { %>
                                  <span>&#10004;</span> <!-- Check mark symbol -->
                                <% } else { %>
                                  <!-- You can optionally provide a symbol for false or leave it blank -->
                                <% } %>
                              </td>
                              
                              <td>
                                <a href="/create-user"><i class="fas fa-plus"></i></a>
                                <a href="#"><i class="fas fa-edit"></i></a>
                                <a href="#" ><i class="fas fa-trash"></i></a>
                              </td>
                            </tr>
                            <% total += index %>
                          <% }); %>
                        </tbody>
                      </table>
                </div>
            </div>


        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="#">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <%- include('footer') %>

</body>

</html>